@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="resumeContainer">
    <embed id="resumepdf" src="~/images/Angelo-Macapinlac.pdf" width="500" height="375"
           type="application/pdf">
</div>