body, html {
    scroll-behavior: smooth;
}

.carousel, .carousel .carousel-inner, .carousel .carousel-inner .active, .carousel .carousel-inner .carousel-item, .view, body, html {
    height: 100vh
}

.navbar {
    background-color: rgba(255,255,255,.2);
}


@media only screen and (max-width:910px) {
    .navAround{
        display: none;
    }
}

@media only screen and (max-width: 1167px){
    #main-img{
        width: 1920px;
        height: 1440px;
    }
}

.fade {
    opacity: 0;
    transition: 0.3s opacity;
}

.navMiddle {
    margin-right: 100px;
    margin-left: 100px;
}

.navAround {
    margin-left: 40px;
    margin-right: 40px;
}

#resumeContainer {
    text-align: center;
    height: 100vh;
}

#resumepdf {
    height: 100%;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}