
.carousel, .carousel .carousel-inner, .carousel .carousel-inner .active, .carousel .carousel-inner .carousel-item, .view, body, html {
    height: 100vh
}

.navbar {
    background-color: rgba(0,0,0,0.2);
    z-index: 99;
}

.page-footer, .top-nav-collapse {
    background-color: #1C1C1C
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C1C1C
    }
}

@media only screen and (max-width: 1167px){
    #main-img{
        width: 1920px;
        height: 1440px;
    }
}

.fade {
    opacity: 0;
    transition: 0.3s opacity;
}