<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angelo Macapinlac - Portfolio</title>
    @*<link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/mdb-ui-kit/mdb.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/slidein.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                
                <a class="navbar-brand" href="@Url.Action("Index","Home")" target="_self">
                    <img src="~/images/signature.png" height="58px" width="200px"/>
                </a>

                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="https://github.com/legopaisen" class="nav-link border border-light rounded"
                            target="_blank">
                            <i class="fab fa-github mr-2"></i> GitHub
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        @RenderBody()
    </div>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/mdb-ui-kit/mdb.min.js"></script>
    <script src="~/font-awesome/js/all.js"></script>
    <script src="~/js/fadin.js"></script>
    <script src="~/js/slidein.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
